.cart-parent {
  background-color: white;
  width: 20px;
  height: 25px;
  color: black;
  border-radius: 25px;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .cart-parent {
    width: 17px;
    height: 21px;
  }
}

.bagIcon {
  width: 20px;
  height: 20px;
  margin-left: 4px;
  margin-top: 1px;
}
@media screen and (max-width: 800px) {
  .bagIcon {
    width: 16px;
    height: 16px;
  }
}

.count {
  position: relative;
  bottom: 15px;
  left: 10.5px;
}

@media screen and (max-width: 800px) {
  .count {
    bottom: 11px;
    left: 10.5px;
  }
}
