.shop-parent {
  color: white;
  font-size: 0.7rem;
}

.shop-container {
  display: flex;
  flex-direction: column;
  color: white;
  margin-bottom: 40px;
}

.shop-card {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.shop-each-card {
  max-width: 22%;
  min-width: 22%;
  flex-grow: 1;
  height: 300px;
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  margin-right: 2%;
  align-items: center;
  justify-content: space-between;
  background-size: cover;
  margin-top: 30px;
}

@media (max-width: 700px) {
  .shop-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
  }
}

@media (max-width: 700px) {
  .shop-each-card {
    min-width: 40vw;
  }
}

@media (max-width: 1000px) and (min-width: 700px) {
  .shop-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
  }
}

@media (max-width: 1000px) and (min-width: 700px) {
  .shop-each-card {
    min-width: 28vw;
  }
}

.shop-each-card:hover {
  cursor: pointer;
  backdrop-filter: blur(50px);
}

.shop-each-card:hover .shop-name1 {
  opacity: 1;
  display: flex;
  transition: opacity 1s cubic-bezier(0.6, 0.28, 0.75, 0.45);
}
.shop-each-card:hover .shop-name {
  opacity: 1;
}

.shop-name1:hover {
  background-color: rgb(2, 2, 37);
  color: black;
}

.shop-name {
  width: 70%;
  height: 40px;
  background-color: black;
  opacity: 0.8;
  color: white;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shop-name1 {
  width: 100%;
  height: 40px;
  background-color: black;
  opacity: 0.8;
  color: white;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  display: none;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: white;
}
