.signUp-Parent {
  display: flex;
  flex-direction: column;
  width: 35vw;
  color: white;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  border: 2px solid white;
  font-family: "Caveat", cursive;
  font-size: 1rem;
  align-self: center;
  margin-right: 2rem;
  margin-top: 2rem;
}

@media screen and (max-width: 800px) {
  .signUp-Parent {
    width: 70vw;
    font-size: 0.7rem;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
  }
}

#g-recaptcha {
  margin: 10px;
  height: 30px;
  box-shadow: 0px 15px 10px -16px white;
}

@media screen and (max-width: 800px) {
  #g-recaptcha {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
  }
}
